@charset "UTF-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    border: 0
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
header{
    background-color: #009FE3;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index:1 ;
}
nav{
    width: 900px;
    margin: 0 auto;
}
li{
    list-style: none;
    text-decoration: none;
    text-align: right;
}
ul{
    color: white;
    margin-top: 30px;
    font-size: 20px;
    display: inline-block;
}
main{
    width: 900px;
    margin: 200px auto;
}
.Categories{
    width: 400px;
}

.Categories img{
    height: 125px;
    width: 125px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.Intro{
    width: 390px;
    position: relative;
    float: right;
    bottom: 415px;
}
h1{
    color: #009FE3;
    font-size: 70px;
    font-weight: bold;
    line-height: 72px;
}
.Intro-para{
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.5;
}

.banner{
    background-color: rgba(0, 159, 227, 0.07);
    height: 275px;
    width: 100%;

}
.banner-body{
    width: 700px;
    margin: auto;
    text-align: center;
    clear: both;
    position: relative;
    bottom: 145px;
    line-height: 1.5;
}
h2{
    color:  #009FE3;
    font-size: 40px;

}
footer{
    background-color: rgb(145, 153, 161);
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.footer{
    width: 900px;
    margin: 0 auto;
    height: 200px;
}
.footer img{
    height: 20px;
    margin-top: 130px;
    margin-right: 10px ;
}
h5{
    color: white;
    text-align: right;
    position: relative;
    bottom: 20px;
}
p{
    font-size: 18px;
}
.logo{
    width: 275px;
}
.logo-container{
    float: left;
    position: relative;
    bottom: 10px;
}
@media only screen and (max-width: 480px){
    main{
        width: 290px;
        margin: 120px auto;
        height: 450px;
    }
    .Categories img{
        height: 90px;
        width: 90px;
        margin-right: 3px;
        margin-bottom: 3px;
    }
    nav{
        width: 290px;
        margin: 0 auto;
    }
    h1{
        font-size: 35px;
        line-height: 40px;
    }
    .Intro{
        width: 290px;
        position: relative;
        float: right;
        bottom: 300px;
        text-align: center;
    }
    .footer{
        width: 290px;
    }
    .banner-body{
        width: 290px;
        top: 40px;
    }
    .Categories{
        width: 290px;
        position: relative;
        top: 250px;
    }
    .Intro-para{
        margin-top: 15px;
        font-size: 15px;
        line-height: 1.5;
    }
    .banner{
        position: relative;
        top: 0px;
    }
    .logo{
    width: 150px;
}
.logo-container{
    float: left;
    position: relative;
    bottom: 0px;
}ul{
    font-size: 18px;
}
p{
    font-size: 15px;
}
h2{
    font-size: 30px;
    line-height: 40px;
}

h5{
    width: 290px;
    font-size: 13.4px;
    font-weight: 400;
    position: relative;
    bottom: 0px;
}
.footer img{
    height: 25px;
    margin-right: 20px;
    margin-left: 0px;
    position: relative;
    margin-bottom: 0px;
    bottom: 30px;
    left: 55px;
}
}
